p {
  font-family: Lato;
}

table {
  width: 85%;
  margin: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);

}
i{
  cursor: pointer;
}
table button {
  background: transparent;
  color: #33C3A2;
  font-weight: 600;
  border: none;
}

h3 {
  width: 85%;
  margin: 0 auto;
  padding: 18px 0;
  font-size: 1.5rem;
}

tr,
tr td {
  border: 0;
  background: #fff;
}

.header-table {
  background: #F2F2F2;
  color: #747474;
  height: 45px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-check {
  display: flex;
  align-items: center;
  padding: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1x;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #33C3A2;
}

input:focus+.slider {
  box-shadow: 0 0 1px #33C3A2;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

button {
  background-color: #33C3A2;
  border-color: #33C3A2;
}

button:hover {
  background-color: #33C3A2;
  border-color: #33C3A2;
}